<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= bootstrap_form_for (@post) do |f| %>

      <div class="field">
        <p class="post-title" align="center"> Название:<br></p>
        <%= f.text_area :title, skip_label: true %>
      </div>
      <div class="field">
        <p class="post-title" align="center"> Текст:<br></p>
        <%= f.text_area :body, skip_label: true %>
      </div>
      <div class="field">
        <p class="post-title" align="center"> Дата/Время:<br></p>
        <%= f.datetime_select :date, skip_label: true %>
      </div>
      <div class="field">
        <p class="post-title" align="center"> Картинка для главной:<br></p>
        <%= f.text_field :image_url, skip_label: true %>
      </div>
      <div class="actions" style="text-align: center;">
        <%= f.submit "Сохранить", class: "btn btn-success" %>
        <%= link_to 'Назад', @post, class: "btn btn-warning" %>
      </div>
  <% end %>
<% end %>